---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Cheung-Chy";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" />
  </div>
  <h1>Cheung-Chy</h1>
  <span class="badge">Digital Craftsman (Developer)</span>
  <h2>About</h2>
  <p>
    I was born in 2002 and studied in the Department of Electronic Information
    Engineering at Chongqing University of Technology from 2019 to 2023. The
    courses I majored in included C language, analog electronic technology,
    digital electronic technology, microcontrollers, STM32, FPGA, and so on.
  </p>
  <p>
    Originally, I should have pursued a career as a hardware engineer or
    embedded software engineer, but unfortunately, I was young and naive at the
    time, and my studies lacked direction.
  </p>
  <p>
    Additionally, due to the unexpected passing of an elder in the family, my
    parents had no choice but to move back to Chongqing from Guangdong to take
    care of the remaining elderly. At this time, we unfortunately encountered
    three years of the pandemic, and the family's financial situation became
    increasingly strained. Although I was at school, I had to be frugal. Because
    of the financial pressure, I became more and more restless and lost patience
    with my studies. I learned a little here and a little there, but in the end,
    I didn't master anything well and had to settle for finding a job after
    graduation just to make ends meet.
  </p>
  <p>
    In September 2023, I found a shift job at Tongwei Solar in Chengdu. There is
    very little time off, and I have no time or energy to study at all.
  </p>
  <p>
    In April 2024, the photovoltaic market underwent a significant change, and
    the company began to enforce mandatory time off. At this time, the situation
    at home had eased somewhat. Unable to resist the temptation from an old
    classmate, I started learning front-end development. He provided me with a
    study plan, and although my time was limited, I had basically determined my
    learning direction, and the future looks promising.
  </p>
  <p>In July 2024, I was assigned to the newly established factory area.</p>
  <p>
    In September 2024, due to the harsh environment of the new factory and the
    company's salary cuts, I resigned and started looking for a new job.
  </p>
  <p>
    This blog was established in September 2024 to centrally showcase my
    learning experiences and achievements, and it can barely be considered a
    portfolio. If you are interested in the content of the blog, feel free to
    contact me via
    <a class="link" href="mailto: chychueng@foxmial.com">email</a>
    or add me on
    <a class="link" href="weixin://dl/chat?zq1731137238" target="_blank"
      >WeChat.
    </a>
  </p>

  <div class="center">
    <a href="/works/">
      <button class="btn">My portfolio</button>
    </a>
  </div>
  <h2>Skills</h2>
  <div class="skills left">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="C#"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
    />
    <!-- <img
      class="skills__img"
      width="46"
      height="46"
      alt="DotNetCore"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TypeScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Angular"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Bootstrap"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
    /> -->
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="CSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="HTML"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
  </div>
  <h2>Interests</h2>
  <p>
    I am passionate about front-end development, even though it's not my current
    job, it is definitely my interest. I enjoy exploring how to create both
    visually appealing and powerful user interfaces through code. In my free
    time, I self-learn front-end knowledge, hoping to make it my profession in
    the future.
  </p>
  <p>
    When I'm not coding, I like reading books, watching movies, or looking for
    niche games to pass the time. Reading allows me to explore different
    perspectives and ideas, which often inspire innovative solutions in my
    coding projects. Movies, with their visual storytelling, help me understand
    the importance of narrative and engagement in user experience design. And
    games, with their interactivity and immersion, spark my curiosity about what
    makes digital experiences truly captivating.
  </p>
  <h2>Personality</h2>
  <p>
    My personality type is architect. In MBTI, every architect is a highly
    imaginative and strategic thinkers, with a plan for everything. These
    thoughtful tacticians love perfecting the details of life, applying
    creativity and rationality.
  </p>
  <img
    class="left"
    width="100%"
    height="auto"
    src="../../intj.png"
    alt="intj-a"
  />
  <p>
    If you are interested in the MBTI, you can follow this <a
      class="link"
      href="https://www.16personalities.com/ch"
      target="_blank">link</a
    > to test your own personality type.
  </p>
</Layout>
